 
<div class="container">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"><h6><b>GitHub SEARCH</b></h6></button>
  </form>

  <div class='container'>
    <div class='row'>
        <div class='col-6'>
            <p>profile photo</p>
        </div>    
        <div class='col-6'>
                <p>name</p>
        </div>
    </div>
    <div class='row'>
        <div class='row'>
          <blockquote class='blockquote text-center'>
            <header class ='blockquote-header'>{{repository.name}}</header>
            <p class ='mb-0'>{{repository.description}}</p>
          </blockquote>

        </div>
        <div class='col-4'>
            <p>Repo 1</p>
        </div>
        <div class='col-4'>
            <p>Repo 2</p>
        </div>
        <div class='col-4'>
            <p>Repo 3</p>
        </div>
    </div>

</div>
</div>